<li>
    My name's {{name}} I'm a 
    {{service}}
    {{!-- <button class="category-work" data-id="{{id}}" data-availability="{{availability}}" class="btn waves-effect waves-light" type="submit">
        {{#if true}}
            <p id="workNow">
                <i class="material-icons right">send</i>
                    At your service...
            </p>
        {{else}}
            <p id="workLater">
                <i class="material-icons right">cloud_off</i>
                    unavailable
            </p>
        {{/if}}
    </button> --}}

    {{!-- <button class="delete-category" data-id="{{this.id}}" class="btn waves-effect waves-light" type="submit" id="">DELETE!
        <i class="material-icons">delete</i>
    </button> --}}
</li>